[Desktop Entry]
Type=Service
ServiceTypes=KonqPopupMenu/Plugin
MimeType=video/*
Actions=encode_audio_alac_parallel
X-KDE-Submenu=Creator Toolkit

[Desktop Action encode_audio_alac_parallel]
Name=Encode Audio to ALAC (Parallel)
Name[pt_BR]=Codificar Áudio para ALAC (Paralelo)
Icon=audio-x-generic
Exec=konsole -e /home/eddiedebian/.local/share/kio/servicemenus/encode-audio-alac-parallel.sh %F
