[Desktop Entry]
Type=Service
ServiceTypes=KonqPopupMenu/Plugin
MimeType=video/*
Actions=recodificar_h265
X-KDE-Submenu=Creator Toolkit

[Desktop Action recodificar_h265]
Name=Recodificar Vídeo para H265 (CUDA)
Exec=konsole -e /home/eddiedebian/.local/share/kio/servicemenus/recodificar-video-H265.sh %F
Icon=video-x-generic
