[Desktop Entry]
Type=Service
ServiceTypes=KonqPopupMenu/Plugin
MimeType=video/*
Actions=remover_audio

[Desktop Action remover_audio]
Name=Remove All Audio Tracks (Video Intact)
Icon=audio-volume-muted
Exec=konsole -e ~/.local/share/kio/servicemenus/remove-audio-tracks.sh %F
X-KDE-Submenu="Edição de Vídeo"